:root {
    --base-color: #000957;
    --secondary-color: #344CB7;
    --third-color: #577BC1;
    --fourth-color: #FFEB00;
    --plain-text: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--plain-text);
    font-family: "Poppins";
}

html, body {
    min-height: 100% !important;
    height: 100%;
    min-width: 100% !important;
    width: 100%;
}

/* NAVIGATION */
nav {
    display: flex;
    height: 80px;
    background-color: var(--base-color);
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
}

nav a {
    height: 100%;
    display: flex;
    align-items: center;
}

nav > section {
    height: 100%;
    display: flex;
    align-items: center;
    font-size: x-large;
}
nav > section a {
    color: var(--fourth-color);
    background-clip: text;
}

nav > section img {
    height: 100%;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul > li {
    margin: 10px 25px;
    font-size: x-large;
}

a {
    text-decoration: none;
}

nav ul > li > a {
    background-image: linear-gradient(
        to right,
        var(--fourth-color),
        var(--fourth-color) 50%,
        var(--plain-text) 50%
    );
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 5px 0;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
}

nav ul > li > a:before{
    content: '';
    background: var(--fourth-color);
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
}
  
nav ul > li > a:hover {
   background-position: 0;
}
  
nav ul > li > a:hover::before{
  width: 100%;
}

/* END OF NAVIGATION */



/* START OF HOME/FIRST-SECTION */

.home {
    background-image: url("assets/el-nido-island-hopping-palawan-04365.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    height: calc(100% - 80px);
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: center;
}
.home::before {
    content: "";
    height: calc(100% - 80px);
    width: 100%;
    position: absolute;
    background-color: black;
    opacity: 0.4;
}

.home > section {
    width: 70%;
    text-align: center;
    z-index: 1;
}
.home > section > h1 {
    font-size: 70px;
    color: var(--fourth-color);
    margin-bottom: 10px;
    -webkit-text-stroke: 2px var(--plain-text);
    -webkit-text-fill-color: rgba(0, 9, 87, 0);
}
.home > section > img {
    width: 300px;
    margin-bottom: -80px;
    margin-top: -100px;
}

.home > section > p {
    color: var(--plain-text);
}

.highlight {
    background-image: linear-gradient(transparent 50%, var(--fourth-color) 50%);
	background-size: auto 175%;
	transition: background .3s ease-in-out;
	&:hover {
		background-position-y: 100%;	
	}
    color: var(--base-color);
    font-weight: 600;
}

/* END OF HOME/FIRST-SECTION */

div:not(:nth-child(1)):not(:nth-child(2)), footer {
    margin: 30px;
}

div:not(:nth-child(1)):not(:nth-child(2)), * {
    color: black;

}


ul, ol {
    list-style-type: disc;
    margin-left: 50px;
}


.promos ul {
    --icon-space: 1.3em;
    list-style: none;
    padding: 0;
    margin-left: 30px;
  }
  
  .promos ul li {
    padding-left: var(--icon-space);
  }
  
  .promos ul li:before {
    content: "\f00c"; /* FontAwesome Unicode */
    font-family: FontAwesome;
    display: inline-block;
    margin-left: calc( var(--icon-space) * -1 );
    width: var(--icon-space);
}


footer .content {
    display: flex;
}

footer .content .platform {
    margin-left: 300px;
}

footer a {
    color: var(--base-color);
}
footer a:hover {
    color: var(--secondary-color);
}





@media only screen and (max-width: 1230px) {
    .home > section > h1 {
        font-size: 50px;
    }
    .home > section > img {
        width: 250px;
        margin-bottom: -50px;
    }
}

@media only screen and (max-width: 960px) {
    nav {
        height: 60px;
        
    }
    nav a {
        font-size: medium;
    }

    .home {
        height: 100%;
    }
    .home::before {
        height: 100%;
    }
}

@media only screen and (max-width: 720px) {
    nav a {
        font-size: small;
    }

    .home > section > h1 {
        font-size:40px;
    }
    .home > section > img {
        width: 200px;
        margin-bottom: -50px;
    }
}

@media only screen and (max-width: 600px) {
    nav {
        height: 30px;
    }
    nav a {
        font-size: x-small;
    }

    nav ul {
        margin-bottom: 10px;
    }

    .home > section > h1 {
        font-size:40px;
    }
    .home > section > img {
        width: 200px;
        margin-bottom: -50px;
    }
}